---
import ios_01 from "@/assets/ios_01v3.webp";
import ios_02 from "@/assets/ios_02v3.webp";
import ios_03 from "@/assets/ios_03v3.webp";
---

<div
  id="tab-0"
  class="tab-panel tabs_phones bg-[#F1F1F1] rounded-4xl min-h-[600px] px-4 py-6 xl:py-8 xl:px-12 shadow-lg/10"
>
  <nav
    class="bg-white rounded-4xl overflow-hidden shadow-lg/10 relative max-w-[500px] mx-auto"
  >
    <!-- Sliding indicator -->
    <div
      id="sliding-steps"
      class="absolute top-0 left-0 h-[calc(100%)] bg-white border-amber-300 drop-shadow-xl border-4 rounded-4xl transition-all duration-300 ease-in-out z-0"
    >
    </div>
    <ul class="flex relative z-10">
      <li class="flex-1 flex items-center justify-center">
        <button
          class="child_btn_tab w-full flex flex-row gap-2 justify-center items-center px-3.5 py-3 leading-[1.2] rounded-4xl font-roboto font-bold text-sm xl:text-xl text-balance text-left cursor-pointer transition-all duration-300 ease-in-out text-black relative z-10"
          data-index="0"
        >
          <svg
            width="18"
            height="22"
            viewBox="0 0 18 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.9761 0.5C13.025 0.5 13.0739 0.5 13.1255 0.5C13.2454 1.98096 12.6801 3.08754 11.9931 3.88888C11.319 4.68469 10.396 5.45653 8.90301 5.33942C8.80342 3.87966 9.36962 2.85516 10.0557 2.05566C10.692 1.31057 11.8585 0.647543 12.9761 0.5Z"
              fill="currentColor"></path>
            <path
              d="M17.4955 15.9146C17.4955 15.9293 17.4955 15.9422 17.4955 15.9561C17.076 17.2268 16.4775 18.3158 15.7472 19.3265C15.0804 20.244 14.2634 21.4788 12.8046 21.4788C11.544 21.4788 10.7067 20.6682 9.41478 20.6461C8.04816 20.624 7.29662 21.3239 6.04711 21.5C5.90418 21.5 5.76125 21.5 5.62108 21.5C4.70355 21.3672 3.96306 20.6406 3.42361 19.9858C1.83291 18.0512 0.603692 15.5522 0.375 12.3542C0.375 12.0406 0.375 11.728 0.375 11.4145C0.471825 9.12575 1.58393 7.26486 3.06213 6.36301C3.84226 5.88349 4.91472 5.47498 6.10889 5.65756C6.62068 5.73687 7.14354 5.91208 7.60185 6.08544C8.03618 6.25235 8.57932 6.54836 9.09388 6.53268C9.44245 6.52254 9.78917 6.34087 10.1405 6.2127C11.1696 5.84107 12.1785 5.41504 13.5082 5.61515C15.1063 5.85675 16.2405 6.5668 16.9413 7.66231C15.5895 8.52267 14.5207 9.8192 14.7033 12.0333C14.8656 14.0445 16.0349 15.2211 17.4955 15.9146Z"
              fill="currentColor"></path>
          </svg>
          <span>iOS</span>
        </button>
      </li>
      <li class="flex-1 flex items-center justify-center">
        <button
          class="child_btn_tab w-full flex flex-row gap-2 justify-center items-center px-3.5 py-3 leading-[1.2] rounded-4xl font-roboto font-bold text-sm xl:text-xl text-balance text-left cursor-pointer transition-all duration-300 ease-in-out text-gray-400 relative z-10"
          data-index="1"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#cli  p0_199_24463)">
              <path
                d="M15.1971 2.00621L15.4596 1.61246L15.7221 1.22809L16.3033 0.356215C16.3783 0.25309 16.3502 0.103089 16.2377 0.0374637C16.1346 -0.0375363 15.9846 -0.00941017 15.9189 0.10309L15.3002 1.03121L15.0377 1.42496L14.7752 1.81871C13.9314 1.49059 13.0033 1.31246 12.0096 1.31246C11.0252 1.31246 10.0877 1.49059 9.24394 1.81871L8.98145 1.42496L8.71895 1.03121L8.1002 0.10309C8.0252 -3.51705e-05 7.88457 -0.0281613 7.78145 0.0374637C7.67832 0.112464 7.6502 0.25309 7.71582 0.356215L8.29707 1.22809L8.55957 1.61246L8.82207 2.00621C6.85332 2.92496 5.5127 4.65934 5.5127 6.65621H18.5158C18.5064 4.65934 17.1752 2.92496 15.1971 2.00621ZM9.21582 4.79059C8.83145 4.79059 8.52207 4.48121 8.52207 4.09684C8.52207 3.71246 8.83145 3.40309 9.21582 3.40309C9.6002 3.40309 9.90957 3.71246 9.90957 4.09684C9.90957 4.48121 9.6002 4.79059 9.21582 4.79059ZM14.7846 4.79059C14.4002 4.79059 14.0908 4.48121 14.0908 4.09684C14.0908 3.71246 14.4002 3.40309 14.7846 3.40309C15.1689 3.40309 15.4783 3.71246 15.4783 4.09684C15.4877 4.48121 15.1783 4.79059 14.7846 4.79059Z"
                fill="currentColor"></path>
              <path
                d="M5.59678 7.57495L5.49365 7.58433V8.73745V9.68433V17.8031C5.49365 18.6187 6.1499 19.275 6.96553 19.275H8.0249C7.9874 19.3968 7.96865 19.5281 7.96865 19.6593V19.7343V20.2031V22.6031C7.96865 23.3718 8.59678 24 9.36553 24C10.1343 24 10.7624 23.3718 10.7624 22.6031V20.2031V19.7343V19.6593C10.7624 19.5281 10.7437 19.3968 10.7062 19.275H13.2937C13.2562 19.3968 13.2374 19.5281 13.2374 19.6593V19.7343V20.2031V22.6031C13.2374 23.3718 13.8655 24 14.6343 24C15.403 24 16.0312 23.3718 16.0312 22.6031V20.2031V19.7343V19.6593C16.0312 19.5281 16.0124 19.3968 15.9749 19.275H17.0343C17.8499 19.275 18.5062 18.6187 18.5062 17.8031V9.68433V8.73745V7.57495H18.403H5.59678Z"
                fill="currentColor"></path>
              <path
                d="M3.17812 7.58447C2.40937 7.58447 1.78125 8.2126 1.78125 8.98135V14.9438C1.78125 15.7126 2.40937 16.3407 3.17812 16.3407C3.94687 16.3407 4.575 15.7126 4.575 14.9438V8.98135C4.56563 8.20322 3.94687 7.58447 3.17812 7.58447Z"
                fill="currentColor"></path>
              <path
                d="M20.8314 7.58447C20.0627 7.58447 19.4346 8.2126 19.4346 8.98135V14.9438C19.4346 15.7126 20.0627 16.3407 20.8314 16.3407C21.6002 16.3407 22.2283 15.7126 22.2283 14.9438V8.98135C22.2189 8.20322 21.6002 7.58447 20.8314 7.58447Z"
                fill="currentColor"></path>
            </g>
            <defs>
              <clipPath id="clip0_199_24463">
                <rect width="24" height="24" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
          <span>Android</span>
        </button>
      </li>
      <li class="flex-1 flex items-center justify-center">
        <button
          class="child_btn_tab w-full flex flex-row gap-2 justify-center items-center px-3.5 py-3 leading-[1.2] rounded-4xl font-roboto font-bold text-sm xl:text-xl text-balance text-left cursor-pointer transition-all duration-300 ease-in-out text-gray-400 relative z-10"
          data-index="2"
        >
          <svg
            width="24"
            height="24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.046 4.633S3.493 6.117 3.408 7.686v.292c.068 1.268 1.025 2.015 1.025 2.015 1.534 1.5 5.248 3.387 6.12 3.813 0 0 .052.027.084-.006l.017-.033v-.036C8.272 8.542 5.045 4.634 5.045 4.634zm5.012 10.45c-.016-.069-.082-.069-.082-.069l-6.188.22c.668 1.199 1.802 2.12 2.984 1.844.806-.21 2.65-1.494 3.253-1.93.053-.042.033-.075.033-.075v.01zm.069-.655c-2.72-1.838-7.984-4.645-7.984-4.645a3.73 3.73 0 0 0-.177 1.087v.06c0 .897.334 1.526.334 1.526.672 1.418 1.963 1.848 1.963 1.848.59.249 1.176.258 1.176.258.101.017 3.689 0 4.645 0 .043 0 .069-.043.069-.043v-.049c0-.026-.027-.043-.027-.043zM9.563 2.159A2.871 2.871 0 0 0 7.408 4.8v.345c.026.504.134.881.134.881.554 2.431 3.24 6.414 3.817 7.253.043.042.085.026.085.026a.083.083 0 0 0 .049-.085c.891-8.887-.93-11.253-.93-11.253-.269.017-1 .193-1 .193zm6.962 1.904s-.41-1.51-2.044-1.914c0 0-.479-.118-.984-.183 0 0-1.827 2.355-.94 11.262.01.06.052.066.052.066.06.026.082-.023.082-.023.606-.865 3.273-4.832 3.817-7.247 0 0 .3-1.176.016-1.962zm-2.448 10.96s-.059 0-.075.04c0 0-.01.06.022.085.587.43 2.392 1.678 3.257 1.93 0 0 .134.043.36.05h.115c.58-.017 1.595-.31 2.515-1.894l-6.204-.21h.01zm6.566-7.052c.118-1.73-1.629-3.332-1.629-3.338 0 0-3.226 3.909-5.592 9.058 0 0-.027.065.016.108l.033.007h.052c.888-.443 4.577-2.323 6.103-3.807 0 0 .966-.78 1.016-2.028zm1.274 1.795s-5.265 2.824-7.984 4.652c0 0-.043.036-.026.095 0 0 .026.05.059.05.973 0 4.665 0 4.757-.017 0 0 .478-.017 1.065-.242 0 0 1.307-.42 1.988-1.907 0 0 .613-1.216.14-2.63zM2.707 20.739v1.35h-.736v-3.234h.736v1.31h1.64v-1.31h.734v3.234h-.734v-1.35h-1.64zm3.71.053c0 .57.181.81.789.81.61 0 .785-.24.785-.81v-1.937h.736v1.955c0 .415-.05.698-.206.869-.287.315-.706.446-1.315.446-.608 0-1.033-.13-1.32-.446-.162-.174-.2-.459-.2-.869v-1.955h.731v1.937zm4.714-1.937 1.492 3.234h-.819l-.322-.77h-1.52l-.312.77h-.78l1.48-3.234h.78zm-.93 1.888h1.044l-.532-1.243-.513 1.243zm6.327 1.346h-.902l-.746-2.414-.652 2.414h-.896l-1.165-3.234h.79l.809 2.485.682-2.485h.867l.785 2.485.754-2.485h.755l-1.081 3.234zm2.074-1.92h2.034v.563h-2.04c.006.583.253.795.831.795h1.21v.562h-1.243c-.423 0-.75-.03-1.09-.284-.361-.264-.536-.688-.536-1.273 0-1.144.522-1.677 1.645-1.677h1.223v.564h-1.209c-.53 0-.797.244-.825.75zm2.682-1.314v3.234h.77v-3.234h-.77z"
              fill="currentColor"></path>
          </svg>
          <span>Huawei</span>
        </button>
      </li>
    </ul>
  </nav>
  <div class="mt-10 xl:grid grid-cols-[840px_200px] xl:gap-4 justify-between">
    <!-- Slider Mobiles -->
    <div class="swiper swiperPhones w-full xl:grid">
      <input
        class="swiper-pagination-bullet swiper-pagination-bullet-active"
        type="hidden"
        name="swiperslide"
      />
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="w-full h-full object-cover max-w-[280px] mx-auto transition-all duration-300 ease-in-out"
            src={ios_01.src}
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            class="w-full h-full object-cover max-w-[280px] mx-auto transition-all duration-300 ease-in-out"
            src={ios_02.src}
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            class="w-full h-full object-cover max-w-[280px] mx-auto transition-all duration-300 ease-in-out"
            src={ios_03.src}
            alt=""
          />
        </div>
      </div>
      <div
        class="flex flex-row justify-center items-center gap-4 pt-7 text-black/50 mx-auto"
        style="--swiper-navigation-size: 12px;--swiper-navigation-color: #fff"
      >
        <div
          class="swiper-pagination relative bottom-auto left-auto right-auto w-fit"
        >
        </div>
      </div>
    </div>
    <div
      class="flex flex-col gap-2 xl:gap-3 mt-2 justify-center items-center xl:items-start"
    >
      <div
        class="flex flex-row xl:flex-col gap-2 justify-center items-center xl:items-start"
      >
        <span
          class="text-[#0097A9] font-amx-black text-[64px] leading-[0.85] step_sliderPhone"
          >02</span
        >
        <p
          class="text-lg xl:text-xl font-roboto text-gray-700 leading-[1.2] max-w-[190px] title_sliderPhone"
        >
          Selecciona la opción de “Datos móviles”
        </p>
      </div>
      <div class="flex flex-row gap-3 justify-center items-center">
        <div
          class="swiper-button-prev relative mt-0 top-0 left-0 after:hidden border-2 text-claro border-claro bg-transparent hover:text-white hover:border-claro hover:bg-claro rounded-full w-[32px] h-[32px] transition-all duration-200 ease-out"
        >
          <svg
            class="max-w-4 h-fit"
            width="18"
            height="12"
            viewBox="0 0 18 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.719453 5.72128C0.429453 6.01428 0.429453 6.48827 0.719453 6.78127L5.48947 11.5543C5.78947 11.8473 6.25953 11.8473 6.54953 11.5543C6.84953 11.2613 6.84953 10.7873 6.54953 10.4943L2.30954 6.25127L6.54953 2.00826C6.84953 1.71526 6.84953 1.24127 6.54953 0.948266C6.25953 0.655266 5.78947 0.655266 5.48947 0.948266L0.719453 5.72128ZM17.2495 7.00127C17.6595 7.00127 17.9995 6.66527 17.9995 6.25127C17.9995 5.83727 17.6595 5.50127 17.2495 5.50127V7.00127ZM1.24948 7.00127H17.2495V5.50127H1.24948V7.00127Z"
              fill="currentColor"></path>
          </svg>
        </div>
        <div
          class="swiper-button-next relative mt-0 after:hidden border-2 text-claro border-claro bg-transparent hover:text-white hover:border-claro hover:bg-claro rounded-full top-0 right-0 w-[32px] h-[32px] transition-all duration-200 ease-out"
        >
          <svg
            class="max-w-4 h-fit"
            width="18"
            height="12"
            viewBox="0 0 18 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.782 6.78117C18.072 6.48817 18.072 6.01417 17.782 5.72117L13.012 0.948157C12.712 0.655157 12.2419 0.655157 11.9519 0.948157C11.6519 1.24116 11.6519 1.71515 11.9519 2.00815L16.1919 6.25117L11.9519 10.4942C11.6519 10.7872 11.6519 11.2612 11.9519 11.5542C12.2419 11.8472 12.712 11.8472 13.012 11.5542L17.782 6.78117ZM1.25198 5.50117C0.841982 5.50117 0.501982 5.83717 0.501982 6.25117C0.501982 6.66517 0.841982 7.00117 1.25198 7.00117L1.25198 5.50117ZM17.252 5.50117L1.25198 5.50117L1.25198 7.00117L17.252 7.00117L17.252 5.50117Z"
              fill="currentColor"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  import ios_01 from "@/assets/ios_01v3.webp";
  import ios_02 from "@/assets/ios_02v3.webp";
  import ios_03 from "@/assets/ios_03v3.webp";
  import android_01 from "@/assets/android_01v3.webp";
  import android_02 from "@/assets/android_02v3.webp";
  import android_03 from "@/assets/android_03v3.webp";
  import huawei_01 from "@/assets/huawei_01v3.webp";
  import huawei_02 from "@/assets/huawei_02v3.webp";
  import huawei_03 from "@/assets/huawei_03v3.webp";
  import Swiper from "swiper/bundle";
  const section = document.querySelector(".tabs_phones");
  const btnsChildTabs = section.querySelectorAll(".child_btn_tab");
  const slidingSteps = section.querySelector("#sliding-steps") as HTMLElement;

  function updateSlidingSteps(activeTab) {
    const left = activeTab.offsetLeft;
    const width = activeTab.offsetWidth;
    slidingSteps.style.transform = `translateX(${left}px) scaleY(0.4)`;
    slidingSteps.style.width = `${width}px`;
    setTimeout(() => {
      slidingSteps.style.transform = `translateX(${left}px) scaleY(1)`;
    }, 150);
  }

  const dataSlidesPhone = [
    {
      name: "iphone",
      images: [
        {
          title: `Ingresa a <span class="font-bold">"Configuración"</span> (hacia el final del menú).`,
          image: ios_01.src,
        },
        {
          title: `Selecciona la opción de <span class="font-bold">"Datos móviles"</span>.`,
          image: ios_02.src,
        },
        {
          title: `Verificar si aparece la opción <span class="font-bold">"Agregar eSIM"</span>.`,
          image: ios_03.src,
        },
      ],
    },
    {
      name: "android",
      images: [
        {
          title: `Ingresa a <span class="font-bold">"Ajustes"</span> o <span class="font-bold">“Configuración del teléfono”</span>.`,
          image: android_01.src,
        },
        {
          title: `Selecciona <span class="font-bold">"Administrador de SIM"</span>.`,
          image: android_02.src,
        },
        {
          title: `Verifica que la etiqueta IMEI (eSIM) esté clara.`,
          image: android_03.src,
        },
      ],
    },
    {
      name: "huawei",
      images: [
        {
          title: `Ingresa a ajustes y  <span class="font-bold">“Redes Móviles”</span>.`,
          image: huawei_01.src,
        },
        {
          title: `Selecciona la opción <span class="font-bold">“Gestión de SIM”</span>.`,
          image: huawei_02.src,
        },
        {
          title: `Verifica si aparece la opción eSIM activa.`,
          image: huawei_03.src,
        },
      ],
    },
  ];

  let swiperSlider;

  // función para construir slider dinámico
  function buildSwiper(tabIndex) {
    const { images, name } = dataSlidesPhone[tabIndex];

    const wrapper = section.querySelector(".swiper-wrapper");
    wrapper.innerHTML = ""; // limpiar contenido

    images.forEach(({ title, image }, i) => {
      wrapper.innerHTML += `
        <div class="swiper-slide">
          <img class="w-full h-full object-cover max-w-[280px] mx-auto transition-all duration-300 ease-in-out"
              src="${image}" alt="esim ${name} ${i + 1}">
        </div>
      `;
    });

    // destruir slider previo si existe
    if (swiperSlider) swiperSlider.destroy(true, true);

    // crear nuevamente
    swiperSlider = new Swiper(".swiperPhones", {
      slidesPerView: 1,
      spaceBetween: 20,
      pagination: {
        el: ".swiperPhones .swiper-pagination",
      },
      navigation: {
        nextEl: ".tabs_phones .swiper-button-next",
        prevEl: ".tabs_phones .swiper-button-prev",
      },
      breakpoints: {
        768: {
          slidesPerView: 3,
          spaceBetween: 0,
          centeredSlides: true,
          initialSlide: 0,
          loop: false,
        },
      },
      on: {
        init: function () {
          const index = this.realIndex;
          const { title } = images[index];
          section.querySelector(".title_sliderPhone").innerHTML = title;
          section.querySelector(".step_sliderPhone").textContent =
            `0${index + 1}`;
        },
      },
    });

    // evento de cambio de slide
    swiperSlider.on("slideChange", () => {
      const index = swiperSlider.realIndex;
      const { title } = images[index];
      section.querySelector(".title_sliderPhone").innerHTML = title;
      section.querySelector(".step_sliderPhone").textContent = `0${index + 1}`;
    });
  }

  // inicializar con la primera tab
  if (btnsChildTabs.length) {
    updateSlidingSteps(btnsChildTabs[0]);
    buildSwiper(0);

    btnsChildTabs.forEach((tabBtn) => {
      tabBtn.addEventListener("click", () => {
        const index = parseInt(tabBtn.getAttribute("data-index"));

        // actualizar estilos de tabs
        btnsChildTabs.forEach((item) => {
          item.classList.remove("text-black");
          item.classList.add("text-gray-400");
        });
        tabBtn.classList.add("text-black");
        tabBtn.classList.remove("text-gray-400");

        // animar indicador
        updateSlidingSteps(tabBtn);

        // reconstruir slider con data de la tab
        buildSwiper(index);
      });
    });

    // reacomodar en resize
    // window.addEventListener("resize", () => {
    //   const activeTab = document.querySelector(".child_btn_tab.text-black") || btnsChildTabs[0];
    //   updateSlidingSteps(activeTab);
    // });
  }
</script>
