---

---

<div class="layout relative z-10" id="newsletter" v-cloak>
  <div class="layout__main">
    <div class="page1">
      <div class="page1__header">
        <div class="zone1">
          <modal class="zone1__modal hidden" data-name="publicidad">
            <div class="content2">
              <div class="content2__close">
                <div class="content2__close__button">
                  <img src="https://static.claro.com.pe/landings/havas/2023/full-claro/v1/assets/b62a3b7c-7e3c-48f9-91a2-cfd422d6f2f2-icon-close-black.svg" alt="Icon Cerrar Antisubasta | Claro Peru" loading="lazy" width="auto" height="auto" />
                </div>
              </div>
              <div class="content2__info">
                <h2>Solicitud para recibir publicidad de Claro</h2>
                <div class="main">
                  <p>En aplicación del artículo 58 e) de la Ley N° 29571, solicito , mediante mi consentimiento libre,
                    previo, informado, expreso e inequívoco, que AMERICA MOVIL PERU S.A.C. con domicilio en Av.
                    Nicolás Arriola N° 480, Santa Catalina, La Victoria, provincia y departamento de Lima (CLARO), me
                    contacte con fines publicitarios por llamadas, mensajes de texto (SMS), mensajes electrónicos,
                    correos electrónicos y/o por cualquier otro medio análogo de comunicación, sobre cualquier
                    producto y/o servicio de CLARO a la línea telefónica y/o correo electrónico utilizados para
                    completar este formulario.</p><br />
                  <p>Declaro conocer que (i) mis datos serán registrados en el Banco de Datos Personales “Clientes” de
                    CLARO para cumplir con la finalidad expuesta hasta que decida revocar mi consentimiento, (ii)
                    CLARO podrá compartir mi información con terceros encargados del tratamiento de sus datos
                    personales, (iii) mi consentimiento resulta facultativo, pero en caso de negativa, la finalidad
                    expuesta no podrá realizarse, (iv) podré ejercer los derechos ARCO (Acceso, Rectificación,
                    Cancelación y Oposición); en los puntos de atención designados para tal efecto o a través del
                    siguiente <a href="https://www.claro.com.pe/legal-y-regulatorio/derechos-arco/" target="_blank" title="">enlace. </a></p><br />
                  <p>Podré consultar el detalle de los encargados de tratamiento y mayor información, revisando la <a href="https://www.claro.com.pe/proteccion-datos/" target="_blank" title=""> Política de
                      Privacidad.</a>
                  </p>
                </div>
                <div class="footer">
                  <div> <a class="content2__close__button" href="#" >Entendido </a></div>
                </div>
              </div>
            </div>
          </modal>
          <modal class="zone1__modal hidden" data-name="tratamiento">
            <div class="content2">
              <div class="content2__close">
                <div class="content2__close__button">
                  <img src="https://static.claro.com.pe/landings/havas/2023/full-claro/v1/assets/b62a3b7c-7e3c-48f9-91a2-cfd422d6f2f2-icon-close-black.svg" alt="Icono Cerrar Antisubasta Claro" loading="lazy" width="auto" height="auto" />
                </div>
              </div>
              <div class="content2__info">
                <h2>Tratamiento de mis datos personales</h2>
                <div class="main">
                  <p>Autorizo a AMERICA MOVIL PERU S.A.C. con domicilio en Av. Nicolás Arriola N° 480, Santa Catalina,
                    La Victoria, provincia y departamento de Lima (CLARO), para tratar mis datos personales y
                    registrarlos en el Banco de Datos Personales “Clientes” de su titularidad, con la finalidad de
                    llamarme o enviarme mensajes de texto (SMS), mensajes electrónicos y/o correos electrónicos con
                    contenido informativo, publicitario y/o promocional sobre los productos y/o servicios que he
                    solicitado mediante este formulario. Declaro conocer que (i) mis datos serán registrados por el
                    tiempo necesario para cumplir con la finalidad expuesta, o hasta que decida revocar mi
                    autorización, (ii) CLARO podrá compartir su información con terceros encargados del tratamiento de
                    sus datos personales, (iii) mi autorización resulta facultativa, pero en caso de negativa, la
                    finalidad expuesta no podrá realizarse, (iv) podré ejercer los derechos ARCO (Acceso,
                    Rectificación, Cancelación y Oposición); en los puntos de atención designados para tal efecto o a
                    través del siguiente <a href="https://www.claro.com.pe/legal-y-regulatorio/derechos-arco/" target="_blank" title="">enlace.</a></p><br />
                  <p>Para consultar el detalle de los encargados de tratamiento y mayor información, revisa nuestra <a href="https://www.claro.com.pe/proteccion-datos/" target="_blank" title="">Política de
                      Privacidad.</a>
                  </p>
                </div>
                <div class="footer">
                  <div> <a class="content2__close__button" href="#">Entendido </a></div>
                </div>
              </div>
            </div>
          </modal>
        </div>
      </div>
      <div class="page1__content" data-tabs="deportes">
        <div class="page1__content__views">
          <div class="page1__content__views__view">
            <div class="portlet" data-newsletter="data-newsletter">
              <div class="portlet__align">
                <div class="portlet__header">
                  <h2 class="font-amx-bold font-bold text-center text-2xl md:text-3xl">¡Entérate todo sobre <span class="text-claro">L1MAX</span></h2>
                </div>
              </div>
              <div class="portlet__newsletter">
                <picture class="portlet__newsletter__picture">
                  <source media="(max-width: 640px)"
                    srcset="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/newsletter/tablet.png" />
                  <source media="(max-width: 1040px)"
                    srcset="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/newsletter/tablet.png" />
                  <source media="(min-width: 1040px)"
                    srcset="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/newsletter/desktop.png" />
                  <img src="https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/newsletter/desktop.png"
                    alt="PARTIDOS DE PERU" />
                </picture>
                <div class="portlet__newsletter__form">
                  <form class="newsletterForm" id="newsletterForm" autocomplete="off">
                    <hgroup class="newsletterForm__header">
                      <h3 class="newsletterForm__header__title">Suscríbete y recibe novedades</h3>
                    </hgroup>
                    <div class="newsletterForm__main">
                      <input class="newsletterForm__main__input" id="inputNameHV" type="text" placeholder="Nombre y Apellido" />
                      <input class="newsletterForm__main__input" id="inputEmailHV" type="text" placeholder="Correo electrónico"/>
                      <div class="newsletterForm__main__checkbox">
                        <input id="tratamiento" type="checkbox" name="tratamiento"/>
                        <label for="tratamiento"> <b> </b></label><small>Autorizo el <a href="#" class="open_modal_btn" data-name="tratamiento">tratamiento de mis datos personales.</a></small>
                      </div>
                      <div class="newsletterForm__main__checkbox">
                        <input id="promociones" type="checkbox" name="promociones"/>
                        <label for="promociones"> <b> </b></label><small>
                          Quiero recibir <a href="#" class="open_modal_btn" data-name="publicidad">promociones y beneficios</a> de Claro.</small>
                      </div>
                      <!-- disabled inactive -->
                      <button disabled class="newsletterForm__main__button inactive"> Enviar</button>
                    </div>
                  </form>
                  <div class="newsletterTYP hidden">
                    <div class="newsletterTYP__header">
                      <h3 class="newsletterTYP__header__title">¡Gracias por suscribirte!</h3>
                      <p class="newsletterTYP__header__text">Muy pronto tendremos novedades para ti.</p>
                    </div>
                    <div class="newsletterTYP__icons">
                      <a type="button" href="https://www.facebook.com/sharer/sharer.php?q=%C2%A1Ya%20me%20un%C3%AD%20a%20la%20pasi%C3%B3n%20de%20la%20Liga%201%21%20%C2%BFQu%C3%A9%20esperas%20t%C3%BA%20para%20unirte%20a%20la%20fiesta%20del%20f%C3%BAtbol%20peruano%3F&u=https://www.claro.com.pe/deportes/liga-1/" target="_blank" rel="noopener">
                        <img src="https://static.claro.com.pe/landings/havas/2023/partidos/v2/assets/socialmedia/facebook.png" alt="Icon Social Media | Claro Peru" loading="lazy" width="auto" height="auto" />
                      </a>
                      <a type="button" href="https://api.whatsapp.com/send?text=%C2%A1Ya%20me%20un%C3%AD%20a%20la%20pasi%C3%B3n%20de%20la%20L1MAX%21%20%C2%BFQu%C3%A9%20esperas%20t%C3%BA%20para%20unirte%20a%20la%20fiesta%20del%20f%C3%BAtbol%20peruano%3F.+https://www.claro.com.pe/deportes/liga-1-max/" target="_blank" rel="noopener">
                        <img src="https://static.claro.com.pe/landings/havas/2023/partidos/v2/assets/socialmedia/whatsapp.png" alt="Icon Social Media | Claro Peru" loading="lazy" width="auto" height="auto" />
                      </a>
                      <a type="button" href="https://twitter.com/intent/tweet?text=%C2%A1Ya%20me%20un%C3%AD%20a%20la%20pasi%C3%B3n%20de%20la%20L1MAX%21%20%C2%BFQu%C3%A9%20esperas%20t%C3%BA%20para%20unirte%20a%20la%20fiesta%20del%20f%C3%BAtbol%20peruano%3F.&url=https://www.claro.com.pe/deportes/liga-1-max/" target="_blank" rel="noopener">
                        <img src="https://static.claro.com.pe/landings/havas/2023/partidos/v2/assets/socialmedia/twitter.png" alt="Icon Social Media | Claro Peru" loading="lazy" width="auto" height="auto" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>  
  .load_ing {
    display: none;
    place-content: center;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .load_ing.over_lay {
    animation-name: animationColor;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  .load_ing img {
    width: 50px;
    height: 50px;
  }

  #newsletter:not([v-cloak])~.load_ing {
    display: none;
  }

  button {
    border: none;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.7;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
  }

  @media screen and (max-width: 1024px) {
    button:hover {
      opacity: 1;
    }
  }

  .page1 {
    width: 100%;
    background-color: #fff;
    height: 100%;
  }

  .page1::-webkit-scrollbar-track {
    border-radius: 0px;
    background: transparent;
  }

  .page1::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: transparent;
    border: 2px solid #555;
  }

  .page1::-webkit-scrollbar {
    width: 4px;
    background: transparent;
  }

  .page1__header {
    width: 100%;
  }

  .page1__header .zone1 .v--modal {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
    z-index: 10000000;
  }

  @media screen and (max-width: 768px) {
    .page1__header .zone1 .v--modal {
      max-width: 90% !important;
      margin: 0 auto !important;
      left: 0 !important;
      right: 0 !important;
    }
  }

  @media screen and (max-width: 640px) {
    .page1__header .zone1 .v--modal {
      max-width: 90% !important;
      left: 0 !important;
      right: 0 !important;
      margin: 0 auto !important;
    }
  }

  .page1__header .zone1 .v--modal-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    opacity: 2;
  }

  .page1__header .zone1__modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    left: 0;
    top: 0;
    backdrop-filter: blur(2.5px);
  }

  .page1__header .zone1__modal .content2 {
    max-width: 800px;
    margin: auto;
    border-radius: 30px;
    background-color: #fff;
    padding: 50px 40px;
    position: relative;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2 {
      max-width: 100%;
      padding: 50px 0 22px;
    }
  }

  .page1__header .zone1__modal .content2__close {
    position: absolute;
    cursor: pointer;
    right: 1.3rem;
    top: 1.3rem;
  }

  .page1__header .zone1__modal .content2 .dflex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page1__header .zone1__modal .content2__info h2 {
    font: normal 400 1.375em "AMX";
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__info h2 {
      padding: 0 30px;
    }
  }

  .page1__header .zone1__modal .content2__info .main {
    max-height: 400px;
    overflow-y: auto;
    padding: 0 0px 0 0;
  }

  @media screen and (max-width: 1200px) {
    .page1__header .zone1__modal .content2__info .main {
      max-height: 400px;
      overflow-y: scroll;
      padding: 0 30px;
    }
  }

  .page1__header .zone1__modal .content2__info .main ul {
    color: #000000;
  }

  .page1__header .zone1__modal .content2__info .main ul li {
    list-style: inside;
    padding: 5px 0;
    font: normal 400 1em "Roboto";
    text-align: justify;
  }

  .page1__header .zone1__modal .content2__info .main ul li a {
    color: #0FBDDF;
    font-weight: 700;
    text-decoration: underline;
  }

  .page1__header .zone1__modal .content2__info .main ul li .subLvl ul li {
    margin-left: 1rem;
  }

  .page1__header .zone1__modal .content2__info .main ul .txt {
    font-weight: bold;
  }

  .page1__header .zone1__modal .content2__info .main p {
    font: normal 400 1em "Roboto";
    text-align: justify;
  }

  .page1__header .zone1__modal .content2__info .main p.header {
    font-family: "AMX";
  }

  .page1__header .zone1__modal .content2__info .main p a {
    color: #0FBDDF;
    font-weight: 700;
    text-decoration: underline;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__info .main .initial {
      margin-top: 0.5rem;
    }
  }

  .page1__header .zone1__modal .content2__info .main .p {
    margin-bottom: 0.5rem;
  }

  .page1__header .zone1__modal .content2__info .main .t {
    margin: 1rem 0;
  }

  .page1__header .zone1__modal .content2__info .iframe {
    border-radius: 20px;
    margin: 20px auto 0;
    width: 641.599px;
    height: 361px;
  }

  @media screen and (max-width: 1024px) {
    .page1__header .zone1__modal .content2__info .iframe {
      width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__info .iframe {
      width: 297.644px;
      height: 167.471px;
    }
  }

  .page1__header .zone1__modal .content2__info .footer {
    width: 100%;
    margin-top: 1rem;
    padding: 0 30px;
    text-align: right;
    background-color: transparent;
    background: transparent;
  }

  .page1__header .zone1__modal .content2__info .footer div {
    width: 140px;
    margin-left: auto;
    background-color: #da291c;
    border: none;
    border-radius: 32px;
    padding: 13px;
    text-align: center;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__info .footer div {
      width: 100%;
    }
  }

  .page1__header .zone1__modal .content2__info .footer div a {
    width: 140px;
    color: #fff;
    font: normal 700 1.0625em "Roboto";
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main {
      padding: 0px 20px;
    }
  }

  .page1__header .zone1__modal .content2__main hgroup {
    text-align: left;
    position: relative;
  }

  .page1__header .zone1__modal .content2__main hgroup button.close {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    float: none;
    text-shadow: none;
    opacity: inherit;
    width: 14px;
    height: 14px;
  }

  .page1__header .zone1__modal .content2__main hgroup button.close:before {
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url("https://static.claro.com.pe/landings/havas/2023/claro-tv/v2/assets/b62a3b7c-7e3c-48f9-91a2-cfd422d6f2f2-icon-close-black.svg") no-repeat center top;
    background-size: 100%;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main hgroup button.close {
      top: -20px;
    }
  }

  .page1__header .zone1__modal .content2__main hgroup h3 {
    font: normal 700 24px "AMX";
    line-height: 28px;
    color: #283342;
    padding-top: 10px;
    max-width: 411px;
    margin: 0 auto;
    text-align: center;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main hgroup h3 {
      font-size: 20px;
      line-height: 23px;
      text-align: center;
    }
  }

  .page1__header .zone1__modal .content2__main .formM5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 {
    display: table;
    position: relative;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main .formM5__checkbox1 {
      margin-top: 20px;
    }
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 div input[type=checkbox] {
    display: none;
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 div input[type=checkbox]:checked+label {
    background-color: #DA291C;
    color: #ffffff;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 div input[type=checkbox]:checked+label:before {
    content: "\f00c";
    display: inline-block;
    margin-right: 0px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 13px;
    color: #ffffff;
    position: relative;
    top: -1px;
    left: 0px;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main .formM5__checkbox1 div input[type=checkbox]:checked+label:before {
      font-size: 12px;
      top: -3px;
    }
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 div label {
    width: 18px;
    height: 18px;
    display: inline-block;
    font: normal 600 0.875em "Roboto";
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    border: 1px solid #D8D8D8;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main .formM5__checkbox1 div label {
      width: 16px;
      height: 16px;
    }
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 div label:hover {
    color: #000000;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 small {
    display: inline-block;
    font: normal 300 15px "Roboto";
    color: #000000;
    vertical-align: middle;
    padding-left: 10px;
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    .page1__header .zone1__modal .content2__main .formM5__checkbox1 small {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main .formM5__checkbox1 small {
      font-size: 14px;
    }
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a {
    color: #0fbfdf;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    font-weight: 700;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a {
      position: static;
      margin-left: 0px;
    }
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a[aria-label]:after {
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    content: attr(aria-label);
    padding: 12px 12px;
    position: absolute;
    white-space: normal;
    opacity: 0;
    background: #0fbfdf;
    color: #ffffff;
    width: 380px;
    font-size: 0.75em;
    border-radius: 5px;
    left: calc(50% - 190px);
    bottom: 20px;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a[aria-label]:after {
      width: 280px;
      left: calc(50% - 140px);
    }
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a[aria-label]:hover:after {
    opacity: 1;
    pointer-events: none;
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a.active[aria-label]:after {
    opacity: 1;
    pointer-events: none;
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a[aria-label]:before {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #0fbfdf;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    content: "";
    position: absolute;
    z-index: 10;
    left: calc(50% - 8px);
    bottom: 4px;
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a[aria-label]:hover:before {
    opacity: 1;
    pointer-events: none;
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a.active[aria-label]:before {
    opacity: 1;
    pointer-events: none;
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a span {
    font: normal 400 0.8em "Roboto";
    color: #ffffff;
    width: 400px;
    padding: 12px 12px;
    background-color: #0fbfdf;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    display: none;
    top: 21px;
    z-index: 10;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a span {
      width: 215px;
      /*top: 0px;
      bottom: 0px;*/
      margin-left: -70px;
    }
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a span:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0fbfdf;
    position: absolute;
    left: 50%;
    top: -9px;
    margin-left: -10px;
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a:hover span {
    display: block;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a:hover span {
      display: none;
    }
  }

  .page1__header .zone1__modal .content2__main .formM5__checkbox1 small a.active span {
    display: block;
  }

  .page1__header .zone1__modal .content2__main .formM5__buttons {
    width: 100%;
    text-align: right;
    cursor: pointer;
    padding: 0px 0px 0px 0;
    margin: 20px 0px 0;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main .formM5__buttons {
      text-align: left;
      margin-top: 20px;
      padding: 10px 0px 0px 0;
    }
  }

  .page1__header .zone1__modal .content2__main .formM5__buttons button.button1 {
    outline: none;
    font: normal 600 1em "Roboto";
    padding: 13.5px 0;
    width: 197px;
    background: #da291c;
    line-height: 20px;
    color: #ffffff;
    height: 48px !important;
    display: inline-block;
    border: none !important;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05) !important;
    border-radius: 32px !important;
    cursor: pointer;
  }

  .page1__header .zone1__modal .content2__main .formM5__buttons button.button1.inactive {
    background-color: #cccccc;
    cursor: default;
  }

  .page1__header .zone1__modal .content2__main .formM5__buttons button.button1.inactive:hover {
    background-color: #cccccc;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }

  @media screen and (max-width: 1024px) {
    .page1__header .zone1__modal .content2__main .formM5__buttons button.button1 {
      padding: 11px 0px !important;
      font-size: 0.875em;
    }
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main .formM5__buttons button.button1 {
      width: 100%;
      padding: 9px 0px !important;
      font-size: 0.875em;
    }
  }

  .page1__header .zone1__modal .content2__main .formM5__buttons button.button1:hover {
    background-color: #FA253F;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }

  .page1__header .zone1__modal .content2__main .formM5 dl {
    width: 100%;
  }

  .page1__header .zone1__modal .content2__main .formM5 dl.type1 {
    width: 49%;
    margin: 23px 0;
  }

  @media screen and (max-width: 480px) {
    .page1__header .zone1__modal .content2__main .formM5 dl.type1 {
      width: 100%;
      margin: 15px 0 0;
    }
  }

  .page1__header .zone1__modal .content2__main .formM5 dl.type2 {
    width: 100%;
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd {
    height: 40px;
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text],
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number] {
    width: 100%;
    border-radius: 12px 12px 12px 12px;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    padding: 13px 11px 13px 10px;
    font: normal 500 1em "Roboto";
    border: solid 1px #91979e;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    outline: none;
  }

  @media screen and (max-width: 1024px) {

    .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text],
    .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number] {
      width: 100%;
    }
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text]::-webkit-input-placeholder,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number]::-webkit-input-placeholder {
    font: normal 400 1em "Roboto";
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text]::-moz-placeholder,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number]::-moz-placeholder {
    font: normal 400 1em "Roboto";
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text]:-ms-input-placeholder,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number]:-ms-input-placeholder {
    font: normal 400 1em "Roboto";
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text]::-ms-input-placeholder,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number]::-ms-input-placeholder {
    font: normal 400 1em "Roboto";
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text]::placeholder,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number]::placeholder {
    font: normal 400 1em "Roboto";
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text]:-webkit-autofill,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text]:-webkit-autofill:hover,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text]:-webkit-autofill:focus,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text]:-webkit-autofill:active,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number]:-webkit-autofill,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number]:-webkit-autofill:hover,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number]:-webkit-autofill:focus,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number]:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text].just-validate-error-field,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number].just-validate-error-field {
    border: solid 1px #dc3545;
    background: #fcf3f3 url("https://www.claro.com.pe/portal/pe-2020/recursos_contenido/claro-home/dec02708-0cba-45ab-ae9a-8891641fd8bf-invalid.png") no-repeat calc(100% - 7px) center;
    color: #dc3545;
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text].just-validate-error-field::-webkit-input-placeholder,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number].just-validate-error-field::-webkit-input-placeholder {
    color: #dc3545;
    opacity: 1;
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text].just-validate-error-field::-moz-placeholder,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number].just-validate-error-field::-moz-placeholder {
    color: #dc3545;
    opacity: 1;
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text].just-validate-error-field:-ms-input-placeholder,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number].just-validate-error-field:-ms-input-placeholder {
    color: #dc3545;
    opacity: 1;
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text].just-validate-error-field::-ms-input-placeholder,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number].just-validate-error-field::-ms-input-placeholder {
    color: #dc3545;
    opacity: 1;
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text].just-validate-error-field::placeholder,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number].just-validate-error-field::placeholder {
    color: #dc3545;
    opacity: 1;
  }

  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=text].just-validate-success-field,
  .page1__header .zone1__modal .content2__main .formM5 dl dd input[type=number].just-validate-success-field {
    border: solid 1px #28a745;
    background: #f3fffc url("https://www.claro.com.pe/portal/pe-2020/recursos_contenido/claro-home/7f3c32d9-4bfa-4e6d-ba20-8c223cc2deca-valid.png") no-repeat calc(100% - 7px) center;
    color: #006B4F;
  }

  .page1__content {
    width: 100%;
  }

  .page1__content__tabs {
    border-bottom: 9px solid #da291c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 6px;
  }

  .page1__content__tabs__tab {
    width: 264px;
    cursor: pointer;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 20px 20px 0 0;
    font: normal 600 20px "Roboto";
    line-height: 57.6px;
    color: #888;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
  }

  .page1__content__tabs__tab span {
    color: #fff;
    background-color: #D32011;
    font-size: 12px;
    width: 54.4px;
    line-height: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
  }

  .page1__content__tabs__tab.active {
    background-color: #D32011;
    color: #fff;
    font-size: 22px;
    line-height: 64px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
  }

  .page1__content__tabs__tab.active span {
    background-color: #fff;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    color: #da291c;
  }

  .page1__content__views {
    width: 100%;
  }

  .page1__content__views__view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__align {
    max-width: 1252px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 0;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 32px;
  }

  @media screen and (max-width: 1024px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__header {
      max-width: 900px;
      width: 90%;
      margin: 0 auto 32px;
    }
  }

  @media screen and (max-width: 640px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__header {
      width: 100%;
      padding-left: 5%;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter {
    width: 100%;
    height: 366px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  @media screen and (max-width: 1024px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter {
      height: 340px;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__picture {
    width: calc(100% - 700px);
    height: inherit;
    border: none;
    margin: 0;
  }

  @media screen and (max-width: 1024px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__picture {
      width: 50%;
    }
  }

  @media screen and (max-width: 640px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__picture {
      display: none;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__picture img {
    width: 101%;
    height: inherit;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top center;
    object-position: top center;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form {
    width: 700px;
    height: 100%;
    background: #272425;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media screen and (max-width: 1024px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form {
      width: 50%;
    }
  }

  @media screen and (max-width: 640px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form {
      width: 100%;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm {
    width: 410px;
    margin: 0 auto 0 70px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  @media screen and (max-width: 1024px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm {
      width: 298.437px;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
  }

  @media screen and (max-width: 640px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm {
      max-width: 90%;
      width: 300px;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__header__title {
    color: #fff;
    font: normal 700 28px "AMX";
  }

  @media screen and (max-width: 1024px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__header__title {
      font-size: 20px;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main {
    margin-top: 14px;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #91979E;
    background: #FFF;
    height: 40px;
    padding: 0 0 0 15px;
    font: normal 400 15px "Roboto";
    line-height: normal;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__input:nth-child(1) {
    margin-bottom: 11px;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__input:-webkit-autofill,
  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__input:-webkit-autofill:hover,
  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__input:-webkit-autofill:focus,
  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main input:focus {
    outline: none;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main input[type=text].just-validate-error-field {
    border: solid 1px #dc3545 !important;
    background: #fcf3f3 url("https://www.claro.com.pe/portal/pe-2020/recursos_contenido/claro-home/dec02708-0cba-45ab-ae9a-8891641fd8bf-invalid.png") no-repeat 97% center !important;
    color: #dc3545 !important;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main input[type=text].just-validate-error-field::-webkit-input-placeholder {
    color: #dc3545 !important;
    opacity: 1 !important;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main input[type=text].just-validate-error-field::-moz-placeholder {
    color: #dc3545 !important;
    opacity: 1 !important;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main input[type=text].just-validate-error-field:-ms-input-placeholder {
    color: #dc3545 !important;
    opacity: 1 !important;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main input[type=text].just-validate-error-field::-ms-input-placeholder {
    color: #dc3545 !important;
    opacity: 1 !important;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main input[type=text].just-validate-error-field::placeholder {
    color: #dc3545 !important;
    opacity: 1 !important;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main input[type=text].just-validate-success-field {
    border: solid 1px #28a745 !important;
    background: #f3fffc url("https://www.claro.com.pe/portal/pe-2020/recursos_contenido/claro-home/7f3c32d9-4bfa-4e6d-ba20-8c223cc2deca-valid.png") no-repeat 97% center !important;
    color: #006B4F !important;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main input[type=text]:-webkit-autofill,
  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main input[type=text]:-webkit-autofill:hover,
  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main input[type=text]:-webkit-autofill:focus,
  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main input[type=text]:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    outline: none;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox.frs {
    margin-top: 10px;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox input[type=checkbox] {
    display: none;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox input[type=checkbox]:checked+label b {
    background-color: #0FBDDF;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox input[type=checkbox]:checked+label b:before {
    content: "\f058";
    display: inline-block;
    margin-right: 0px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 13px;
    position: relative;
    top: -2.5px;
    left: 0px;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: top;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox label b {
    width: 16px;
    height: 16px;
    display: inline-block;
    font: normal 600 14px "Roboto";
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    border: 1px solid #91979E;
    border-radius: 3px;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox label b:hover {
    color: #fff;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small {
    display: table-cell;
    font: normal 300 14px "Roboto";
    line-height: 19px;
    color: #fff;
    vertical-align: middle;
    padding-left: 10px;
  }

  @media screen and (max-width: 1024px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 640px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small {
      color: #fff;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small.extra {
    padding: 10px 0;
    display: block;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a {
    color: #0fbfdf;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    font-weight: 500;
  }

  @media screen and (max-width: 480px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a {
      position: static;
      margin-left: 0px;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a[aria-label]:after {
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    content: attr(aria-label);
    padding: 12px 12px;
    position: absolute;
    white-space: normal;
    opacity: 0;
    background: #0fbfdf;
    color: #ffffff;
    width: 380px;
    font-size: 0.75em;
    border-radius: 5px;
    left: calc(50% - 190px);
    bottom: 20px;
  }

  @media screen and (max-width: 480px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a[aria-label]:after {
      width: 280px;
      left: calc(50% - 140px);
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a[aria-label]:hover:after {
    opacity: 1;
    pointer-events: none;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a.active[aria-label]:after {
    opacity: 1;
    pointer-events: none;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a[aria-label]:before {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #0fbfdf;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    content: "";
    position: absolute;
    z-index: 10;
    left: calc(50% - 8px);
    bottom: 4px;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a[aria-label]:hover:before {
    opacity: 1;
    pointer-events: none;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a.active[aria-label]:before {
    opacity: 1;
    pointer-events: none;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a span {
    font: normal 400 0.8em "Roboto";
    color: #ffffff;
    width: 400px;
    padding: 12px 12px;
    background-color: #0fbfdf;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    display: none;
    top: 21px;
    z-index: 10;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
  }

  @media screen and (max-width: 480px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a span {
      width: 215px;
      /*top: 0px;
      bottom: 0px;*/
      margin-left: -70px;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a span:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0fbfdf;
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: -10px;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a:hover span {
    display: block;
  }

  @media screen and (max-width: 480px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a:hover span {
      display: none;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__checkbox small a.active span {
    display: block;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__button {
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 29px;
    max-width: 201px;
    margin-right: auto;
    height: 45px;
    background: #DA291C;
    border-radius: 30px;
    color: #fff;
    font: normal 700 16px "Roboto";
    line-height: 45px;
  }

  @media screen and (max-width: 1024px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__button {
      max-width: 100%;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__button.inactive {
    cursor: not-allowed;
    color: #979797;
    background: #D9D9D9;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterForm__main__button.inactive:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  @media screen and (max-width: 1024px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP {
      gap: 23px;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP__header {
    text-align: center;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP__header__title {
    color: #fff;
    font: normal 700 27px "AMX";
    line-height: normal;
  }

  @media screen and (max-width: 1024px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP__header__title {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 640px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP__header__title {
      color: #fff;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP__header__text {
    margin-top: 10px;
    font: normal 700 18px "AMX Regular";
    color: #fff;
    line-height: normal;
  }

  @media screen and (max-width: 1024px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP__header__text {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 640px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP__header__text {
      color: #fff;
      max-width: 260px;
      margin: 10px auto 0;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 19px;
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP__icons a {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #000;
  }

  @media screen and (max-width: 1024px) {
    .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP__icons a {
      width: 40px;
      height: 40px;
    }
  }

  .page1__content__views__view .portlet[data-newsletter] .portlet__newsletter__form .newsletterTYP__icons a:hover {
    cursor: pointer;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.8;
  }
</style>

<script>
  import JustValidate from "just-validate";

  // Configuración del validador
  const validator = new JustValidate("#newsletterForm", {
    validateBeforeSubmitting: true,
    errorsContainer: null,
  });
  validator
  .addField("#inputNameHV", [
    { rule: "required"},
    { rule: "minLength", value: 3, errorMessage: "Introduce un nombre válido." },
  ])
  .addField("#inputEmailHV", [
    { rule: "required", errorMessage: "Ingresar correo electrónico." },
    {
      rule: "email",
      errorMessage:
        "El correo electrónico debe tener mínimo 8 caracteres.",
    },
  ])
  .addField("#tratamiento", [
    { rule: "required", errorMessage: "Debes aceptar el tratamiento de datos personales." },
  ])

  validator.onValidate((event) => {
    // Verifica si el formulario completo es válido
    const btnSubmit = document.querySelector(".newsletterForm__main__button") as HTMLButtonElement;
    if (event.isValid) {
      btnSubmit.classList.remove("inactive");
      btnSubmit.disabled = false; // Habilita el botón
    } else {
      btnSubmit.classList.add("inactive");
      btnSubmit.disabled = true; // Deshabilita el botón
    }
  });

  validator.onSuccess(async (event) => {
      event.preventDefault(); // Prevenir el envío del formulario
      let tokeGrecaptcha = "";
      const form = event.target;
      const API_NEWSLETTER = 'https://crm.claromarketingcloud.pe/Front/Home/registro/?op=XH1hSXUnvMQ1EiW%2B9mq1uEzzS2pwmPheWC0X6j%2Bgyzw%3D';
      const formData = new FormData();
      formData.append('Nombre', form.querySelector('#inputNameHV').value);
      formData.append('Correo', form.querySelector('#inputEmailHV').value);
      formData.append('Tratamiento', form.querySelector('#tratamiento').value);
      grecaptcha?.ready(function () {
          grecaptcha?.execute("6Ld1_2caAAAAABG4EakA3PwvnyGjP2OLAn20_F9g", {
              action: "homepage",
            })
            .then(function (token) {
              tokeGrecaptcha = token;
              const formData = new FormData();
              formData.append('nombre_y_apellidos', form.querySelector('#inputNameHV').value);
              formData.append('correo_electronico', form.querySelector('#inputEmailHV').value);
              formData.append('acepto_terminos_y_condiciones', form.querySelector('#tratamiento').value ? 'si' : 'no');
              formData.append('quiero_recibi_promociones_y_beneficios_de_claro', form.querySelector('#promociones').value ? 'si' : 'no');
              formData.append("g-recaptcha-response", tokeGrecaptcha);
              console.log({tokeGrecaptcha})
              const toLocalStorage = {
                names: form.querySelector('#inputNameHV').value,
                email: form.querySelector('#inputEmailHV').value,
              }
              const users = JSON.parse(localStorage.getItem("HAVASXFPF-Suscription-Liga1Max"));
              if (users) {
                const newArr = new Array();
                newArr.push(...users);
                newArr.push(toLocalStorage);
                localStorage.setItem("HAVASXFPF-Suscription-Liga1Max", JSON.stringify(newArr));
              } else {
                const newArr = new Array();
                newArr.push(toLocalStorage);
                localStorage.setItem("HAVASXFPF-Suscription-Liga1Max", JSON.stringify(newArr));
              }
              fetch(`${API_NEWSLETTER}`, {
                method: "POST",
                body: formData
              })
              .then(resp => resp.json())
              .then(data => {
                console.log({data});
                if (data.status === '200') {
                  document.querySelector("#newsletterForm").classList.add("hidden");
                  document.querySelector(".newsletterTYP").classList.remove("hidden");
                }
              })
              .catch(err => {
                console.log(err);
              })
            });
        });
      
    });

  const openModalBtn = (name) => {
    const modal = document.querySelector(`.zone1__modal[data-name="${name}"]`);
    console.log(modal)
    modal.classList.remove("hidden");
  };
  const modalBtns = document.querySelectorAll(".open_modal_btn");
  modalBtns.forEach((btn) => {
    btn.addEventListener("click", (event) => {
      event.preventDefault();
      const nameModal = btn.getAttribute("data-name");
      console.log({nameModal})
      openModalBtn(nameModal);
    });
  });

  const closeBtns = document.querySelectorAll(".content2__close__button");
  closeBtns.forEach((btn) => {
    btn.addEventListener("click", (event) => {
      event.preventDefault();
      btn.closest(".zone1__modal").classList.add("hidden");
    });
  });
</script>